<?php
template_include("base.html",CORE);
top();
?>
<div class="col-md-4 d-md-block d-none " style="max-width: 100%; height: calc(100vh - 130px);">
    <div class="bg-secondary p-2" style="height: 100%; width: 100%">
        <div class="w-100 h-100 bg-white rounded-3 p-3 overflow-y-scroll">
            <h2 class="d-flex gap-2 fs-4 justify-content-center"><span>Categories</span></h2>
            <hr>
            <br>
            <span class="fw-bold text-success">Popular</span>

            <br>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    <label class="fs-3">Laundary</label>
                </div>
            </div>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    <label class="fs-3">Laundary</label>
                </div>
            </div>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    <label class="fs-3">Laundary</label>
                </div>
            </div>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    
                    <label class="fs-3">Laundary</label>
                </div>
            </div>
            <br>
            <hr>
            <span class="fw-bold text-success">Close to me</span>
            <br>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    
                    <label class="fs-3">Laundary</label>
                </div>
            </div>
            <div class="d-flex gap-3 py-2">
                <div class="rounded-circle border shadow" style="width: 50px; height: 50px"></div>
                <div class="d-flex flex-column">
                    
                    <label class="fs-3">Laundary</label>
                </div>
            </div>

            
        </div>
    </div>
</div>
<div class=" col-md-6" style="max-width: 100%; overflow-y: scroll; height: calc(100vh - 130px);">
    <div class="d-flex p-3 gap-3 sticky-top bg-white">
        <a >Market</a>
        <a class="fw-bold">Jobs</a>
        <a>Socialize</a>
        <a>Learning</a>
        <a>Games</a>

    </div>
    <br>
    <hr>
    <section class="d-flex gap-2 text-center justify-content-center fs-6 "> <span>Shop from your trusted stores Ads</span></section>
    <hr>

    <h2 class="d-flex gap-2"><i class="bi bi-star"></i> <span>Popular Categories from Searches</span></h2>
    <br>
    <hr>
    <br>
    <!-- The most Popular searches -->
    <div class=" d-flex justify-content-between align-items-center">
        <h3 class="fs-5">Most Popular Laundary Shop</h3>
        <div class="d-flex gap-1 align-items-center">
            <a class="p-1 text-dark fw-bold"><i class="bi bi-eye"></i></a>
            <a class="p-1 text-dark fw-bold"><i class="bi bi-list"></i></a>
            
        </div>
    </div>
    <br>
    <div class="overflow-x-scroll w-100 py-2" style="max-height: 100%; overflow-y: scroll;">
        <div class="d-flex gap-2" style="min-width: fit-content;">
        
            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px">
                <div class="image_section w-100">
                    <img src="static/images/money_grow.jpg" alt="Image">
                </div>
                <div class="d-flex justify-content-between">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5">Abel Laundry Shop</span>
                        <span style="font-size: 13px;"><i class="bi bi-geo"></i> Location: 2, Oxford road, Ekpoma</span>
                        <span style="font-size: 12px;" class="text-success">Opens: 5:00 AM, Closes: 5:00 PM</span>
                    </label>
                </div>
            </div>
    
            <div class="d-flex p-2 flex-column border border-2 border-primary rounded overflow-x-hidden" style="width: 200px">
                <div class="image_section w-100">
                    <img src="static/images/money_grow.jpg" alt="Image">
                </div>
                <div class="d-flex justify-content-between">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5">Abel Laundry Shop</span>
                        <span style="font-size: 13px;"><i class="bi bi-geo"></i> Location: 2, Oxford road, Ekpoma</span>
                        <span style="font-size: 12px;" class="text-success">Opens: 5:00 AM, Closes: 5:00 PM</span>
                    </label>
                </div>
            </div>
    
            <div class="d-flex p-2 flex-column border border-2 border-warning rounded overflow-x-hidden" style="width: 200px">
                <div class="image_section w-100">
                    <img src="static/images/money_grow.jpg" alt="Image">
                </div>
                <div class="d-flex justify-content-between">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5">Abel Laundry Shop</span>
                        <span style="font-size: 13px;"><i class="bi bi-geo"></i> Location: 2, Oxford road, Ekpoma</span>
                        <span style="font-size: 12px;" class="text-success">Opens: 5:00 AM, Closes: 5:00 PM</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- Items for sale  -->
    <div class=" d-flex justify-content-between align-items-center">
        <h3 class="fs-5">Items for sale</h3>
        <div class="d-flex gap-1 align-items-center">
            <a class="p-1 text-dark fw-bold"><i class="bi bi-eye"></i></a>
            <a class="p-1 text-dark fw-bold"><i class="bi bi-list"></i></a>
            
        </div>
    </div>

    <br>
    <div class=" d-flex justify-content-between align-items-center">
        <h3 class="fs-5"><i class="bi bi-shop"></i> From Registered Store owners</h3>
        <div class="d-flex gap-1 align-items-center">
            <a class="p-1 text-dark fw-bold"><i class="bi bi-list"></i></a>
            
        </div>
    </div>
    <br>
    <div class="overflow-x-scroll w-100 py-2" style="max-height: 100%; overflow-y: scroll;">
        <div class="d-flex gap-2" style="min-width: fit-content;">
        
            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>

            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>

            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>
    
            
        </div>
    </div>

    <br>
    <div class=" d-flex justify-content-between align-items-center">
        <h3 class="fs-5"><i class="bi bi-shop"></i> Items close to you</h3>
        <div class="d-flex gap-1 align-items-center">
            <a class="p-1 text-dark fw-bold"><i class="bi bi-list"></i></a>
            
        </div>
    </div>
    <br>

    <div class="overflow-x-scroll w-100 py-2" style="max-height: 100%; overflow-y: scroll;">
        <div class="d-flex gap-2" style="min-width: fit-content;">
        
            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>

            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>

            <div class="d-flex p-2 flex-column border border-2 border-danger rounded overflow-x-hidden" style="width: 200px; height: 250px;">
                <div style="position: relative;top: 20px; width: 150px; height: 40px; z-index: 1;" class="text-white bg-dark d-flex gap-2 p-1">
                    <i class="bi bi-geo"></i>
                    <span style="font-size: 12px; text-overflow: ellipsis; overflow-wrap: unset; width: 100%; overflow-x: hidden; overflow-y: hidden;">Unique Solutions Media</span>
                </div>
                <div class="image_section w-100 d-flex justify-content-center align-items-center overflow-y-hidden" style="height:200px; position: relative; top: -40px;">
                    <img src="static/images/Miro_App_Mobile_product_image_EN_standard_1-1.png" alt="Image" style="width: 100%; height: initial;">
                </div>
                <div class="d-flex justify-content-between" style="position: relative;">
                    <label class="d-flex flex-column gap-2">
                        <span class="fw-bold fs-5" style="text-overflow: ellipsis; overflow-wrap: unset; overflow-x: hidden;">Iphone Xs max</span>
                        <span style="font-size: 18px;" class="fw-bold"><i class="bi bi-tag"></i> $400,000</span>
                        <span style="font-size: 14px;" class="text-success d-flex align-items-center gap-2"><i class="bg-success rounded-circle p-2" style="width:20px; height: 20px"></i>in stock</span>
                    </label>
                </div>
            </div>
    
            
        </div>
    </div>

    <br>

    <div class=" d-flex justify-content-between align-items-center">
        <h3 class="fs-5"><i class="bi bi-megaphone"></i> Sponsored Ad</h3>
        <div class="d-flex gap-1 align-items-center">
            <a class="p-1 text-dark fw-bold"><i class="bi bi-x"></i></a>
            
        </div>
    </div>
    <br>
    <div class="shadow w-100 rounded" style="height: 150px;">

    </div>

    <br>


    

</div>
<div class="col-md-2 d-none d-md-block">
    <div class="bg-secondary" style="height: 100%; width: 100%">nn</div>
</div>
<?php
bottom();
?>